@charset "UTF-8";
/**
 * Zühlke theme for reveal.js.
 *
 */
.reveal .quote-slide {
    text-align: left;
}

.reveal .quote-slide.slide-background {
    background: url("../../assets/img/zuehlke-quote-slide.jpg");
    background-position: center, center;
    background-size: cover;
    background-repeat: no-repeat;
}

.reveal .quote-slide quote {
    color: var(--zuehlke-dark-gray);
    position: absolute;
    top: 1.9em;
    left: -0.9em;
    right: 2em;
    line-height: 1.5em;
    font-size: 1.5em;
}

.reveal .quote-slide author {
    color: var(--zuehlke-white);
    position: absolute;
    top: 23em;
    left: 28.5em;
    font-size: 0.6em;
    font-weight: bold;
}

.reveal .quote-slide position {
    color: var(--zuehlke-white);
    position: absolute;
    top: 24.5em;
    left: 28.5em;
    font-size: 0.6em;
    font-weight: normal;
}

